.note_items{
    width: 33%;
    height: 36vh;     
    position: relative; 
}
.note_items:nth-child(1n) {    
    background: url(../../../img/note.png);
    background-repeat: no-repeat;
    background-size: 95%;    
}
.note_items:nth-child(2n) {
    background: url(../../../img/note2.png);
    background-repeat: no-repeat;
    background-size: 95%;  
}
.title{
    font-family: 'Montserrat', sans-serif;    
    margin: 7vh auto;
    font-size: 23px; 
    width: 230px;    
    height: 100px;
    font-weight: 600;
    color: #fff;     
    cursor: pointer;    
    display: flex;   
    justify-content: center;
    align-items: center; 
}
.note_input{    
    font-family: 'Montserrat', sans-serif;    
    font-size: 23px; 
    max-width: 230px; 
    line-height: 100px;
    font-weight: 600;
    color: #3c6e6e;
    background-color: rgba(255, 255, 255, 0); 
    text-align: center; 
}
.delete_btn{
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    position: absolute;
    top: 60px;
    right: 65px;      
    z-index: 2;
    font-size: 50px;   
    line-height: 0;
    background-color: rgba(255, 255, 255, 0); 
    transition: all ease-in-out 0.3s ;
    color: #3c6e6e;
    cursor: pointer;
}
.delete_btn:hover{
    color: #fff;
    transition: all ease-in-out 0.3s;
    transform: rotate(225deg);
}






